@page "/"
@inject ICatchService CatchService
<RadzenDataList AllowVirtualization="true" AllowPaging="false" WrapItems="false" TItem="CatchModel" Data="@Items">
    <Template>
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 660px">
            <h2>@context.Fish</h2>
            <RadzenText TextStyle="TextStyle.Caption" Text="Weight (kg)" />
            <RadzenText Text="@(context.Weight == null ? "-" : context.Weight.ToString())" />
            <RadzenText TextStyle="TextStyle.Caption" Text="Length (cm)" />
            <RadzenText Text="@(context.Length == null ? "-" : context.Length.ToString())" />
            <RadzenText TextStyle="TextStyle.Caption" Text="Note" />
            <RadzenText Text="@(context.Note == null ? "-" : context.Note)" />
            @if (context.Photos.Count > 0)
            {
                <img src="@(GetImageString(context.Photos.First()))" />
            }
        </RadzenCard>
    </Template>
</RadzenDataList>

@code{

    private List<CatchModel> Items { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var items = await CatchService.GetCatches();

        Items = items.OrderByDescending(x => x.Created).ToList();
    }

    private string GetImageString(PhotoModel photo)
    {
        if(photo.Bytes == null)
        {
            return string.Empty;
        }

        var base64string = Convert.ToBase64String(photo.Bytes);
        var extension = Path.GetExtension(photo.Filename).Replace(".", string.Empty);

        return $"data:image/{extension};base64, {base64string}";
    }
}
