@page "/register"
@inject ICatchService CatchService

<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 330px">

    <h2>Register a catch</h2>
    <EditForm @ref="@Form" Model="@FormModel" OnValidSubmit="Save">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End">
            <RadzenFormField Text="Type of fish">
                <RadzenTextBox @bind-Value="@FormModel.Fish" />
            </RadzenFormField>
            <RadzenFormField Text="Weight (kg)">
                <RadzenNumeric @bind-Value="@FormModel.Weight" />
            </RadzenFormField>
            <RadzenFormField Text="Length (cm)">
                <RadzenNumeric @bind-Value="@FormModel.Length" />
            </RadzenFormField>
            <RadzenFormField Text="Note">
                <RadzenTextArea @bind-Value="@FormModel.Note" />
            </RadzenFormField>
            <RadzenFormField Text="Photo">
                <InputFile OnChange="@LoadFiles" />
            </RadzenFormField>
            <RadzenButton Text="Save" ButtonType="ButtonType.Submit" />

        </RadzenStack>
    </EditForm>



</RadzenCard>

@code {
    private EditForm Form { get; set; } = null!;
    private AddFormModel FormModel { get; set; } = new();

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream();
        var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);

        FormModel.Photos.Add(new PhotoModel()
        {
            Id = Guid.NewGuid().ToString(),
            Bytes = memoryStream.ToArray(),
            Filename = Path.GetFileName(e.File.Name)
        });
    }

    private async Task Save()
    {
        await CatchService.Save(new CatchModel()
        {
            Id = Guid.NewGuid().ToString(),
            Fish = FormModel.Fish!,
            Weight = FormModel.Weight,
            Length = FormModel.Length,
            Note = FormModel.Note,
            Photos = FormModel.Photos
        });

        FormModel = new();
    }

    public record AddFormModel
    {
        [Required(ErrorMessage = "You have to enter type of fish")]
        public string? Fish { get; set; }
        public double? Weight { get; set; }
        public double? Length { get; set; }
        public string? Note { get; set; }
        public List<PhotoModel> Photos { get; } = new();
    }


}

